.container-menufood {
    .title-nocontent {
        text-align: center;
    }

    .btn-add {
        align-items: center;
        appearance: none;
        background-color: #FCFCFD;
        border-radius: 4px;
        border-width: 0;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        box-sizing: border-box;
        color: #36395A;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono", monospace;
        height: 28px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s, transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;
        font-size: 14px;
        align-items: center;
    }

    .btn-add:focus {
        cursor: pointer;
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }

    .btn-add:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .btn-add:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
    }

    .box-btn-add {
        margin-top: 20px;
        display: flex;
        justify-content: center;

    }

    .bounder-itemfood {

        border-bottom: 1px solid #7a6e6e;
        width: 100%;
        height: 100%;
        margin: 10px 0 10px 0;
    }

    .item-food {
        display: flex;
        justify-content: center;
        margin: 10px 5px 0 5px;
        height: 100%;
        align-items: center;


        .image-container {
            flex: 1;
            align-self: center;
        }

        .image-container img {
            height: auto;
            object-fit: cover;
            max-width: 100%;
            max-height: 200px;
        }

        .text-container {
            flex: 5;
            margin-left: 10px;
        }

        .action-container {
            font-size: 12px;
            align-self: center;
        }
    }

    .list-item-food {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

}

.modal-hidden {
    z-index: 10000;
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: white;
    overflow-x: visible;
}

.list-menufood {
    margin: 0;

    list-style: decimal;

    .itemfood {
        font-size: 14px;
        font-weight: 400;
        margin-left: 10px;
    }
}